/*Code by Proton*/
@media (max-width: 576px){
    /*css menu*/
    html body nav.navbar{
        background: white;
        padding: 0;
    }
    nav a.nav_logo{color: black;}
    nav ul{margin-top: 0!important;}
    nav li:hover a.nav-links{color: white;}
    nav li:hover{border-bottom: 1px solid #ccc0c0;}
    body nav div a.nav-links{
        font-size: 15px;
        color: white;
        line-height: 50px;
        padding-left: 27px;
    }
    body nav.navbar-light button.navbar-toggler{
        border-color: #00000082;
        margin-right: 5%;
    }
    body nav div ul.navbar-nav.ml-auto.mt-2.mt-lg-0{margin: 0!important;}
    body nav div ul li.nav-item.active{
        background: #414141;
        border-bottom: 1px solid #ffffff4f!important;
        margin: 0;
        height: 50px;
    }
    .menu a.navbar-brand{
        margin: 0;
        margin-left: 5%;
        width: 250px;
    }
    .menu img.header_logo{margin-top: 3%;}
    .menu p.protontech{
        color: black;
        margin-top: 6%;
        margin-left: 40%;
    }
    body .menu nav.navbar.fixed-top.navbar-expand-lg.navbar-light div ul li a.nav-link{
        line-height: 0;
        padding: 25px;
        color: white!important;
    }
    /*end css menu*/
    
    /*css header*/
    header{clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);height: 800px;}
    .header_left{
        width: 100%;
        left: 0;
        top: 15%;
        padding: 20px;
        height: 100%;
    }
    .header_left .name{
        font-weight: 300;
        font-size: 20px;
        text-align: center;
    }
    .header_left .developer{
        text-align: center;
        line-height: 65px;
        margin: 40px 0;
    }
    .header_left .job{
        padding: 15px;
        font-size: 22px;
    }
    .dark_layer{background: #220546db;}
    .header_left .contact_me{
        font-size: 20px;
        margin-top: 0;
    }
    .header_left .view_more{
        margin-left: 20px;
        font-size: 20px;
        margin-top: 0px;
    }
    .header_right{display: none;}
    /*end css header*/
    
    /*css about*/
    .about{height: 1060px;}
    .about .col-sm-6.right{padding: 20px;}
    .about .col-sm-6.left{padding: 20px;}
    .about img{width: 70%;display: block;margin: auto;margin-top: 15%;}
    .about .col-sm-6.right h1{
        margin-top: 0;
        text-align: center;
    }
    .about .col-sm-6.right .content{
        font-size: 18px;
        text-align: justify;
        margin-bottom: 35px;
    }
    .about .about_info{
        height: 50%;
        margin-top: 40px;
    }
    .about .col-sm-6 a.my_experience{
        font-size: 18px;
        margin: auto;
        display: block;
        width: 160px;
    }
    .about .about_info p{width: 85%;}
    /*end css about*/
    
    /*css experience*/
    body div.experience{
        clip-path: polygon(100% 95%, 50% 100%, 0 95%, 0 0, 50% 5%, 100% 0);
        height: 1320px;
    }
    .experience .col-sm-5.left{
        margin-top: 140px;
        padding: 15px;
    }
    .experience .col-sm-5.left .exp{
        text-align: center;
        font-size: 22px;
        font-weight: 400;
    }
    .experience .col-sm-5.left .tittle{
        margin: 0;
        text-align: center;
        font-size: 30px;
    }
    .experience .col-sm-5.left .describe{
        padding: 0;
        font-size: 20px;
        margin-top: 15px;
    }
    .experience .col-sm-7.right{
        margin-top: 20px;
        padding: 15px;
    }
    .experience .col-sm-7.right .one_exp{width: 48%;}
    .experience .col-sm-7.right .one_exp:hover{border-radius: 0px}
    .experience .col-sm-7.right .one_exp:hover .view_more{
        opacity: 0;
    }
    .experience .col-sm-7.right .one_exp .see{display: none;}
    /*end css experience*/
    
    /*css skill*/
    .skill{
        margin-top: 75px;
        height: 800px;
    }
    .skill h1{ padding-top: 0;}
    .skill .container .all_skill{padding: 15px;}
    .skill .container .all_skill .one_skill{width: 47%;}
    .skill .container .all_skill .one_skill img{margin-left: 40%;}
    .skill .container .all_skill .one_skill:hover .item{transform: none;}
    .skill .container .all_skill .one_skill:hover .progress{transform: none;}
    .skill .container .all_skill .one_skill:hover p{opacity: 1;}
    /*end skill*/
    
    /*css more*/
    .more{
        clip-path: polygon(100% 95%, 50% 100%, 0 95%, 0 0, 50% 5%, 100% 0);
        height: 830px;
        margin-top: 0;
    }
    .more .col-sm-6.left{
        margin-top: 100px;
        padding: 15px;
        border-style: none;
    }
    .more .col-sm-6.left h1{
        margin-top: 20px;
        margin-bottom: 35px;
    }
    .more .col-sm-6.right{
        margin-top: 15px;
        padding: 15px;
    }
    .more .col-sm-6.right h1{margin-bottom: 35px;}
    .more .col-sm-6.right p{margin-bottom: 30px;}
    /*end css more*/
    
    /*css project*/
    .project{height: 660px;}
    .project h1{float: none;margin-bottom: 0;}
    .project .buttons{
        margin-left: 0;
        margin: auto;
        margin-top: 30px;
    }
    .project .all_project{padding: 15px;}
    .project .all_project .one_project{
        width: 48%;
        height: 120px;
    }
    .project .all_project .one_project .content{display: none;}
    .project .all_project .one_project:hover img{transform: none;}
    /*end css project*/
    
    /*css contact*/
    .contact{
        clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 5%, 100% 0);
        height: 790px;
    }
    .one_contact{
        width: 100%;
        margin-bottom: 30px;
    }
    .contact i.fas.fa-envelope {
        margin-right: 20px;
        margin-left: 26px;
    }
    .contact i.fas.fa-phone-volume {
        margin-right: 20px;
        margin-left: 40px;
    }
    .contact i.fab.fa-facebook-f {
        margin-right: 20px;
        margin-left: 40px;
    }
    .contact .container{padding-top: 100px;}
    .contact .col-sm-7.left{padding: 15px;}
    .contact .col-sm-5.right{padding: 15px;}
    .contact .col-sm-5.right h1{}
    .contact .col-sm-5.right .one_contact{
        padding: 0 0 3px 25px;
        margin: 0;
    }
    .contact .col-sm-5.right .one_contact:hover p{transform: none;}
    .contact .col-sm-5.right .one_contact:hover i{transform: none;}
    /*end css contact*/
    } /*end css 576px - code by Proton*/
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 991px){
    .menu{display: none;}
    header{display: none;}
    .about{background-image: url(768-991px.png); height: 500px;}
    .about .row{display: none;}
    .experience{display: none;}
    .skill{display: none;}
    .more{display: none;}
    .project{display: none;}
    .contact{display: none;}
    footer{opacity: 1}
    } /*end css 768-991px - code by Proton*/
    
    @media only screen and (min-device-width : 577px) and (max-device-width : 767px){
    .menu{display: none;}
    header{display: none;}
    .about{background-image: url(577-767px.png); height: 400px;}
    .about .row{display: none;}
    .experience{display: none;}
    .skill{display: none;}
    .more{display: none;}
    .project{display: none;}
    .contact{display: none;}
    footer{opacity: 1}
    }/*end css 577-767px - code by Proton*/
    @media (min-width: 1920px){
        header{
    height: 970px;
}

.header_left {
    padding-top: 60px;
}
        .about{
    height: 650px;
}
        .experience{
    height: 900px;
}

.experience.appear_experience {
    padding-top: 100px;
}
        .skill{
    height: 700px;
}
        .more{
    height: 850px;
}

.more.appear_more .container {
    padding-top: 50px;
}
        .project{
    height: 710px;
}

.project .container {
    padding-top: 30px;
}
        .contact{
    height: 780px;
}
    }